<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
</head>
    <body>
        <section>
            <p>
                -----------------------------------------------------
            </p>
                <form th:method="POST" th:action="@{/user/{id}/task/{task_id}/edit
                (task_id=${task.getId()}, id=${userId})}" th:object="${task}">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="name" >Enter task name: </label>
                        <div class="col-sm-4">
                        <input class="form-control" type="text" th:value="${task.getName()}" id="name" name="name"/>
                <!--        <div style="color: blue" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="text">Write text:</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" rows="10" cols="45" name="text" id="text" th:text="${task.getText()}"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <p>Choose status:</p>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isCompleted" id="flexRadio1" value="0" th:field="*{Completed}" th:checked="${task.getCompleted() == false}">
                                <label class="form-check-label" for="flexRadio1">
                                    unfinished
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isCompleted" value="1" id="flexRadio2" th:field="*{Completed}" th:checked="${task.getCompleted() == true}">
                                <label class="form-check-label" for="flexRadio2">
                                    complete
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${task.getParentFolderId()}" id="parentFolderId" name="parentFolderId"/>
                    <input class="btn btn-primary" type="submit" value="update task">
                </form>
            <p>
                -----------------------------------------------------
            </p>
        </section>
    </body>
</html>