<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>
</head>
    <body>
        <section>
            <p>
                -----------------------------------------------------
            </p>
            <div>
                <p th:text="${user.getId()}">
                    Value`
                </p>
                <p th:text="${user.getLogin()}">
                    Value
                </p>
            </div>

            <div>
                <h4>
                    Current folder is
                </h4>
                <p th:text="${parentFolder.getName()}">
                    Value
                </p>
                <h6>
                    <div th:switch="${parentFolder.getName().contains('root')}">
                        <p th:case="${true}"></p>
                        <p th:case="*">
                            <a th:href="@{/user/{id}/folder/{folder_id}/delete/{parent_id}
                    (id=${user.getId()}, folder_id=${parentFolder.getId()}, parent_id=${parentFolder.getParentFolderId()})}">
                                Delete current folder
                            </a>
                        </p>
                    </div>
                </h6>
                <h6>
                    <div th:switch="${parentFolder.getName().contains('root')}">
                        <p th:case="${true}"></p>
                        <p th:case="*">
                            <a th:href="@{/user/{id}/folder/{folder_id}/edit(id=${user.getId()},
                    folder_id=${parentFolder.getId()})}">
                                Edit current folder
                            </a>
                        </p>
                    </div>
                </h6>
                <h6>
                    <a th:href="@{/user/{id}/folder/{folder_id}/newFolder(id=${user.getId()},
                    folder_id=${parentFolder.getId()})}">
                        Add new folder
                    </a>
                </h6>
                <h6>
                    <a th:href="@{/user/{id}/folder/{folder_id}/newTask(id=${user.getId()},
                    folder_id=${parentFolder.getId()})}">
                        Add new task
                    </a>
                </h6>
            </div>

            <div>
                <h6>
                    Folders in User's current folder:
                </h6>
                <div th:each="folder : ${folders}">
                    <div>
                        Name:
                        <p>
                            <a th:text="${folder.getName()}"
                               th:href="@{/user/{id}/folder/{folder_id}
                           (id=${user.getId()}, folder_id=${folder.getId()})}">
                                Value
                            </a>
                        </p>
                    </div>
                </div>


                <h6>
                    Tasks in current folder:
                </h6>
                <div th:each="task : ${tasks}">
                    <div style="display: inline;">
                        <div>
                            Name:
                            <a th:text="${task.getName()}"
                               th:href="@{/user/{id}/folder/{folder_id}/task/{task_id}
                           (id=${user.getId()}, folder_id=${task.getParentFolderId()}, task_id=${task.getId()})}">
                                Value
                            </a>
                        </div>
                        <div>
                            <h4>
                                <a th:href="@{/user/{id}/folder/{folder_id}/task/{task_id}/edit
                                (id=${user.getId()}, folder_id=${task.getParentFolderId()}, task_id=${task.getId()})}">
                                    Edit task
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>

            </div>

            <div>
                <p>
                    <a href="/exit">Exit</a>
                </p>
            </div>
            <p>
                -----------------------------------------------------
            </p>
        </section>
    </body>
</html>