<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
    <section>
        <p>
            -----------------------------------------------------
        </p>
        <div>
            Name:
            <p th:text="${task.getName()}">
                Value
            </p>
        </div>
        <div>
            Text:
            <p th:text="${task.getText()}">
                Value
            </p>
        </div>
        <div>
            Status:
            <div th:switch="${task.getCompleted()}">
                <p th:case="${false}">unfinished</p>
                <p th:case="${true}">complete</p>
            </div>
        </div>
        <div>
            Date of Creation:
            <p th:text="${task.getDateOfCreation()}">
                Value
            </p>
        </div>
        <div>
            Date of update:
            <p th:text="${task.getDateOfUpdate()}">
                Value
            </p>
        </div>
        <div>
            <p>
                <a th:href="@{/user/{id}/folder/{folder_id}/task/delete/{task_id}
                (id=${user_id}, folder_id=${folder_id},task_id=${task.getId()})}">
                    Delete task
                </a>
            </p>
        </div>
        <p>
            -----------------------------------------------------
        </p>
    </section>
</body>
</html>