<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
  <body>
    <section>
      <p>
        -----------------------------------------------------
      </p>
      <div>
        <p th:text="${user.getId()}">
          Value`
        </p>
        <p th:text="${user.getLogin()}">
          Value
        </p>
        <p th:text="${rootFolder.getName()}">
          Value
        </p>
      </div>
      <div>
        <p>
          <a th:href="@{/user/{id}/folder/{folder_id}(id=${user.getId()}, folder_id=${rootFolder.getId()})}">
            See folders and tasks in root directory
          </a>
        </p>
      </div>

      <div>
        <p>
          <a href="/exit">Exit</a>
        </p>
      </div>
      <p>
        -----------------------------------------------------
      </p>
    </section>
  </body>
</html>